.grid-container {
    display: grid;
    grid-template-areas: 
    "p p . a"
    "p p . a"
    "p p . a";
}

.current-products {
    grid-area: p;
    margin: 1rem;
}

.advice-aside {
    grid-area: a;
    margin: 1rem;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

app-card {
    cursor: pointer;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 20vw;
    border-radius: 50%;
}

.advice-block, .details-block {
    background-color: wheat;
    border-radius: 15px;
}

.advice-block {
    max-width: 30rem;
    margin: auto;
}

.advice-block h3 {
    padding-top: 1rem;
    text-align: center;
}

.advice-block p {
    text-align: justify;
}

.advice-block img {
    min-width: 150px;
}

.details-block {
    padding: 0 0 1rem 0 !important;
    max-width: 550px;
    margin: auto;
}

.details-block img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.details-separator {
    border-bottom: 2px dashed #534340;
}

@media all and (max-width: 991px) {
    .grid-container {
        grid-template-areas: 
        "p"
        "a";
    }
}