

<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <h1 class="text-center text-white m-5">JELENLEGI TERMÉKEINK</h1>
        
            <div class="product-container">
                <!--FLEXBOX ALAPON ÉN ÍROM MEG-->
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </div>
        </div>
        <div class="col-lg-4 mt-5 mb-4">
            <aside class="advice-block p-3">
                <h3 class="pb-3">Az ég kék</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae doloribus doloremque blanditiis atque aliquam natus similique aliquid quo a tempore, impedit maiores dolorem deserunt? Dolore numquam recusandae esse facere reiciendis.</p>
            </aside>
            <aside class="advice-block p-3 mt-2">
                <h3 class="pb-3">Az ég kék</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae doloribus doloremque blanditiis atque aliquam natus similique aliquid quo a tempore, impedit maiores dolorem deserunt? Dolore numquam recusandae esse facere reiciendis.</p>
            </aside>  
        </div>
    </div>
</div>