.card {
    /* background-color: #F4FCD9; */
    background-color: wheat;
    border: none;
    max-width: 14rem;
    min-height: 24rem;
}

.img-body {
    height: 9.5rem;
    overflow: hidden;
}


.card-title {
    border-bottom: #534340 solid 2px;
    padding-bottom: 0.75rem;
}