.comment-container {
    margin: 5% auto;

}

.comment-container h3 {
    display: inline-flex;
    margin: 0.5rem;
    margin-top: 0;
    padding: 1rem;
}

.comment-container p {
    text-align: justify;
    background-color: wheat;
    border-radius: 15px;
    padding: 1rem;
    max-width: 500px;
    font-style: italic;
    font-weight: 600;
}

img {
    display: inline;
    border: 2px solid #534340;
    border-radius: 50%;
    max-width: 4rem;
    position: relative;
    bottom: 22px;
    left: 10px;
}

@media all and (max-width: 767px) {
    
    img {
        display: none;
    }

    .comment-container h3, .comment-container p {
        display: block;
        text-align: justify;
    }

    .comment-container h3 {
        padding-left: 0;
        padding-bottom: 0;
    }

}

@media all and (max-width: 1199px) {
    .comment-container p {
        max-width: 100%;
    }
}