<!--CSS-GRID ALAPON IS RENDEZHETNÉM-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white m-5">A PÉK AJÁNLATA</h1>
    </div>

    <div class="col-12">
      <div class="product-container">
        <!--FLEXBOX ALAPON ÉN ÍROM MEG-->
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white mt-5">RÓLUNK ÍRTÁK</h1>
    </div>

    <div class="col-12">
      <app-comment></app-comment>
      <app-comment></app-comment>
      <app-comment></app-comment>
    </div>
  </div>

</div>