.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.image-holder{
    background-image: url("https://images2.alphacoders.com/716/thumb-1920-716078.jpg");
    width: 100vw;
    height: 300px;
    margin-top: 2rem;
    border-top: solid #534340 5px;
    border-bottom: solid #534340 5px;
}



