<!--CSS-GRID ALAPON IS RENDEZHETNÉM-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white m-5">A PÉK AJÁNLATA</h1>
      <hr>
    </div>

    <div class="col-12 mt-3">
      <div class="product-container">
        <!--FLEXBOX ALAPON ÉN ÍROM MEG-->
        <app-card [pastry]="recommendedPastries[i]" *ngFor="let pastry of recommendedPastries; let i = index"></app-card>
      </div>
    </div>
  </div>
</div>

<div class="image-holder"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-white m-5">RÓLUNK ÍRTÁK</h1>
      <hr>
    </div>

    <div class="col-12 text-center d-flex flex-wrap justify-content-between">
      <app-comment [comment]="comments[i]" *ngFor="let comment of comments;let i = index"></app-comment>
    </div>
  </div>

</div>